{{- if .Values.podStatusLogger.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "runtime-api.fullname" . | trunc 33 | trimSuffix "-"  }}-pod-status-logger
  labels:
    {{- include "runtime-api.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.podStatusLogger.schedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ .Values.jobSettings.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.jobSettings.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ .Values.jobSettings.activeDeadlineSeconds }}
      template:
        spec:
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ .Values.serviceAccount.name }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.ingressBase.enabled }}
          volumes:
            - name: ingress-base-config
              configMap:
                name: {{ include "runtime-api.fullname" . }}-ingress-base
          {{- end }}
          containers:
          - name: pod-status-logger
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            command: ["python", "pod_status_logger.py"]
            env:
            {{- include "runtime-api.env" . | nindent 12 }}
            {{- if .Values.ingressBase.enabled }}
            volumeMounts:
              - name: ingress-base-config
                mountPath: /ingress-base
            {{- end }}
            resources:
              {{- toYaml .Values.jobSettings.resources | nindent 14 }}
          restartPolicy: OnFailure
{{- end }}
