{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  labels:
    {{- include "runtime-api.labels" . | nindent 4 }}
  {{- if .Values.serviceAccount.annotations }}
  annotations:
#    "helm.sh/hook": "pre-install,pre-upgrade"
#    "helm.sh/hook-weight": "-10"
    {{- range $key, $value := .Values.serviceAccount.annotations }}
    "{{ $key }}": "{{ $value }}"
    {{- end }}
  {{- end }}
{{- end }}