{{- if .Values.warmRuntimes.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.warmRuntimes.configMapName }}
  labels:
    {{- include "runtime-api.labels" . | nindent 4 }}
data:
  warm-runtimes.json: |
    {
      "count": {{ .Values.warmRuntimes.count }},
      "configs": [
        {{- range $index, $config := .Values.warmRuntimes.configs }}
        {{- if $index }},{{ end }}
        {
          "name": {{ $config.name | quote }},
          "image": {{ $config.image | quote }},
          "working_dir": {{ $config.working_dir | quote }},
          {{- with $config.count }}
          "count": {{ $config.count }},
          {{- end }}
          "command": {{ $config.command | toJson }},
          "environment": {{ $config.environment | toJson }}
          {{- with $config.run_as_user }},
          "run_as_user": {{ $config.run_as_user }}
          {{- end }}
          {{- with $config.run_as_group }},
          "run_as_group": {{ $config.run_as_group }}
          {{- end }}
          {{- with $config.fs_group }},
          "fs_group": {{ $config.fs_group }}
          {{- end }}
        }
        {{- end }}
      ]
    }
{{- end }}
