name: Pull Request Checks

on:
  pull_request:
    paths:
      - 'charts/**'

jobs:
  validate-chart-versions:
    uses: ./.github/workflows/validate-chart-versions.yml
    with:
      base_ref: origin/${{ github.base_ref }}
      enforce_version_bump: true
